.heading {
  position: absolute;
  font-size: 1.5em;
  top: 41.5%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: lightgray;
  width: 50%;
  margin: auto;
}

@media (max-width: 1700px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 42%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 1500px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 39%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 1400px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 1300px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 32%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 1050px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 415px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 24%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 361px) {
  .heading {
    position: absolute;
    font-size: 1.5em;
    top: 22%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .heading {
    position: absolute;
    font-size: 1em;
    top: 22%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 280px) {
  .heading {
    position: absolute;
    font-size: 0.85em;
    top: 19%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: lightgray;
    width: 90%;
    margin: auto;
  }
}

.headimg {
  width: 100%;
  margin: auto;
  opacity: 0.75;
}

/* displays the content inside, as these settings in the parent breaks the effect */
.slanted-div div {
  text-align: center;
  padding-bottom: 50px;
  font-size: 24px;
}

#about {
  padding-top: 100px;
}

#projects {
  padding-top: 100px;
}

footer {
  height: 100px;
  background: black;
  overflow: scroll;
  text-align: center;
}

.socials {
  padding: 20px;
}

.inDevelopment {
  color: darkgoldenrod;
  font-size: small;
}

.completed {
  color: green;
  font-size: small;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap");

#text {
  display: inline-block;
  vertical-align: middle;
  color: rgb(112, 223, 112);
  font-family: "Source Code Pro", monospace;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 30px;
  background-color: rgb(112, 223, 112);
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: rgb(112, 223, 112);
  }
}

.slanted-div .project {
  padding: 85px;
}

.slanted-div .card-body {
  text-align: left;
}

ul {
  text-align: center;
  list-style-position: inside;
}

.slanted-div .project-info {
  text-align: left;
}

.navbar-dark .nav-item > .nav-link.active {
  color: white;
}
